<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Local" value="tools/LocalNugetFeed" />
    <add key="citools" value="\\aaptfile01\ADXSDK\NetSDK\CIToolsPkg" />
  </packageSources>
  <config>
		<add key="globalPackagesFolder" value=".\restoredPackages\" />
		<add key="RestorePackagesPath" value=".\restoredPackages\" />
	</config>
  
	<packageRestore>
		<!-- Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />

		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
  </packageRestore>
</configuration>